global-exclude *
include pyproject.toml MANIFEST.in readme.md commands.md requirements.txt .env.example
include bot.py main.py database.py utils.py
include LICENSE LICENSE.* COPYING
recursive-include cogs *.py
global-exclude *.py[cod] __pycache__
